@import url("https://fonts.googleapis.com/css?family=Raleway:300");
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.container-halfs {

  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.efecto {

  display: grid;
  grid-template-columns: 1fr 0%;
  height: 100vh;
}


/* Estilos del div izquierdo */
.left {
  background-color: rgb(40, 40, 40) !important;
  align-items: center;
  justify-content: center;
}

/* Estilos del div derecho */
.right {
  background-image: url(../Imagenes_OFTB/Imagenes/pkb2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

}

.email_color {
  background-color: #212121;
}



/*Hover boton del login*/

.btn {
  height: 50px;
  font-weight: bold;
  cursor: pointer;
  background: red;
  
}

.btn:hover {
  transition: 1.5s;
  background: red;
  
}

/*Estilos del enlace para volver al login*/
a:link,
a:visited,
a:active {
  text-decoration: none !important;
}

a {
  color: white !important;
}

a:hover {
  transition: 1s;
  color: red !important;

}

/*Tamaño de los imputs del form*/
form {
  width: 455px !important;
  margin: auto !important;
}
.form-container{
  
}

/*Color del fondode los imputs*/
.form-control {
  background: #212121 !important;
}

.form-control:focus {
  border-color: red !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: red !important;
}

.form-control:hover {
  border-width: 1px;
  transition: 0.5s;
  border-color: red !important;
  box-shadow: red !important;
}
