/*Import de los fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Berkshire+Swash&family=Orelega+One&family=Paytone+One&display=swap');

body {

    background-color: rgb(40, 40, 40) !important;
}

p,
tr,
td,
h6,
th {
    color: white;
}

/*Jumbotron pedidos*/
.jumbotron_letter {
    background-image: url(../Imagenes_OFTB/Images_jumbotron/maquina3.jpg);
    background-size: cover;
    height: 445px;

}
.jumbotron_letterDetails {
    background-image: url(../Imagenes_OFTB/Images_jumbotron/peaky4_details.jpg);
    background-size: cover;
    height: 445px;
}

.jumbotron_orderMake {
    background-image: url(../Imagenes_OFTB/Images_jumbotron/pedido_pagado_doctorStrange.jpg);
    background-size: cover;
    height: 445px;
    
}

.jumbotron_cart {
    background-image: url(../Imagenes_OFTB/Imagenes/market.jpg);
    background-size: cover;
    height: 445px;
    
}

.jumbotron_hasbeen h1{
    position: absolute;
    bottom: 53%;
    left: 3%;
    
  }

/*Numero Carrito*/
.divNumCarrito {

    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    color: white;
    
    
  }
  .divNumero {
    /* height: 10px; */
    margin-left: -12px;
    width: 18px;
    border-radius: 10px;
    background-color: red;
    font-weight:bold !important;
  
  }


table tr th {
    background-color: rgba(0, 0, 0, 0.5) !important;
}


/*Hover de la tabla de pedidos*/
.mydivpedidos{
    background-color:#424242;
}

.mydivpedidos:hover{
    transition: 0.75s;
    background-color: #616161 !important;
}

.jumbotron h1 {
    font-family: 'Bebas Neue', cursive;
}

h2{
    font-family: 'Bebas Neue', cursive; 
}

/*********************NAVBAR***********************/

a.navbar-brand {
    font-size: 25px;
    font-weight: bold !important;
}

.mynav a {

    color: white !important;
    /*Important para hacer override a bootstrap*/
    font-weight: bold;
    /*
    border-bottom: 2px solid transparent;
    transition-duration: 0.6s;
    */
}

@media only screen and (max-width: 0px) {
    .navbar-inverse .navbar-brand {
        font-size: 30px;
        padding: 20x 15px;
    }

    .navbar-collapse {
        background: rgba(0, 0, 0, 0.5) !important;
    }
}

/*El div que separa el brand del menu en el segundo navbar*/
#navbarSupportedContent {
    /* margin-left: 0px;*/
    font-weight: bold;
}

/*********************DROPDOWNS NAVBAR***********************/
.navbar-drop .navbar-nav>li>.dropdown-menu {
    background: rgba(0, 0, 0, 0.5) !important;
    margin-top: 16px;

}

/*******************************************************/
/********************ENLACES***************************/
/*****************************************************/


/*Estilos de los enlaces*/
a:link,
a:visited,
a:active {
    text-decoration: none !important;
}

a {
    color: white !important;
}

a:hover {
    transition: 1s;
    color: red !important;

}

/*/**************Estilos de los dropdowns/***************/

.navbar .dropdown-menu a {
    font-weight: bold;
    /* background-color: red !important; */
  }
  .navbar .dropdown-menu a:hover {
    transition: 1s;
    color: red !important;
    background-color: transparent !important ;
    /* background-color: red !important; */
  }

/**************ANIMACION DE LOS DROPDOWNS*******************/

@keyframes slideIn {

    from {
        transform: translateY(-40%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.slideIn {
    animation-duration: 0.5s;
    animation-name: slideIn;
}

/*****************************FOOTER******************************/

/*Color del 1 footer*/
.my1footer {
    background-color: #616161 !important;
}

/*Color del 2 footer*/
.my2footer {
    background-color: #424242;
}

/*Color del 3 footer*/
.my3footer {

    background-color: #212121;
}

/*Color de los hr del footer*/
.myhrfooter {
    background-color: red;
}

/*Color de los iconos */
.icon-red {
    color: white;
}


.icon-red:hover {
    transition: 1s;
    color: red;
    transform: scale(1.15);
}

/*********************PAGINATION***********************/


ul.pagination{
  
    color: #212121;
    border: none !important;
  }
  
  ul.pagination li a{
    background-color: #212121 !important;
    color: white !important;
    margin-left: 2px;
    border: none;
  }
  
  ul.pagination li a:hover{
   background-color: red !important;
  }
  
  ul.pagination li span{
    background-color: 616161 !important;
    border-color: #212121 !important;
    color: white;
  }