.container-halfs {

  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.left {
  background-color: rgb(40, 40, 40) !important;
  background-color: red;
}

.right_img {

  background-color: rgb(40, 40, 40) !important;

}

.right_payment {
  
  background-image: url(../Imagenes_OFTB/Imagenes_compra/negan.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.div_form {
  margin-left: 100px !important;
}

.efecto {

  display: grid;
  grid-template-columns: 1fr 0%;
  height: 100vh;
}


/*Hover boton del login*/

.btn {
  margin-top: 10px;
  height: 50px;
  cursor: pointer;
  background: red;


}

/*Efecto del boton del regisdtro*/
.btn:hover {
  transition: 0.75s;
  background: orange;

}

.icon_color {

  color: red !important;

}

/*Estilos del enlace para volver al login*/
a:link,
a:visited,
a:active {
  text-decoration: none !important;
}

a {
  color: white !important;
}

a:hover {
  transition: 1s;
  color: red !important;

}


/*******FORM********/
form {
  width: 455px !important;
  margin: auto !important;

}

.form-control {
  background: #212121 !important;
}

.form-control:focus {
  border-color: red !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: red !important;
}

.form-control:hover {
  border-width: 1px;
  transition: 0.5s;
  border-color: red !important;
  box-shadow: red !important;
}

/*******SELECT********/
.custom-select:focus {
  border-color: red !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: red !important;
  
}

.custom-select:hover {
  border-width: 1px;
  transition: 0.5s;
  border-color: red !important;
  box-shadow: red !important;
}


.custom-select {
  background: black;
 
}

select {
  color: white !important;
  background: #212121 !important;

}

option {
  color: red;
  background-color: #212121;
}