/****************************************************/
/*****************ELEMENTOS BASICOS******************/
/****************************************************/

/*Import de los fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Berkshire+Swash&family=Orelega+One&family=Paytone+One&display=swap');

body {

  background-color: rgb(40, 40, 40) !important;
}

p,
tr,
td,
th {
  color: white;
}

.jumbotron h1{
  font-family: 'Bebas Neue', cursive;
}

/*********************NAVBAR***********************/

a.navbar-brand {
  font-size: 25px;
  font-weight: bold !important;
}

.mynav a {

  color: white !important;
  /*Important para hacer override a bootstrap*/
  font-weight: bold;
  /*
    border-bottom: 2px solid transparent;
    transition-duration: 0.6s;
    */
}


@media only screen and (max-width: 0px) {
  .navbar-inverse .navbar-brand {
    font-size: 30px;
    padding: 20x 15px;
  }

  .navbar-collapse {
    background: rgba(0, 0, 0, 0.5) !important;
  }
}

/*El div que separa el brand del menu en el segundo navbar*/
#navbarSupportedContent {
  /* margin-left: 0px;*/
  font-weight: bold;
}



/*********************DROPDOWNS NAVBAR***********************/


.navbar-drop .navbar-nav>li>.dropdown-menu {
  background: rgba(0, 0, 0, 0.5) !important;
  margin-top: 16px;
}

.navbar-drop .navbar-nav>li>.dropdown-menu>li>a {
  color: white;
}

.navbar-drop .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-drop .navbar-nav>li>.dropdown-menu>li>a:focus {
  color: white;
  background: rgba(0, 0, 0, 0.5) !important;
}

.navbar-drop .navbar-nav>li>.dropdown-menu>li>.divider {
  background: rgba(0, 0, 0, 0.5) !important;
}

/**************ANIMACION DE LOS DROPDOWNS*******************/

@keyframes slideIn {

  from {
    transform: translateY(-40%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.slideIn {
  animation-duration: 0.5s;
  animation-name: slideIn;
}




/*********************FORMS***********************/
.form-control {
  width: 560px !important;
  margin: auto !important;
  background-color: #212121 !important;
  color: white !important;
}


.form-control:focus {
  border-color: red !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: red !important;
}

.form-control:hover {
  border-width: 1px;
  transition: 0.5s;
  border-color: red !important;
  box-shadow: red !important;
}


@media only screen and (max-width: 620px) {
  .form-control {
    width: 400px !important;
  }
}




/*******************************************************/
/********************ENLACES***************************/
/*****************************************************/


/*Estilos de los enlaces*/
a:link,
a:visited,
a:active {
  text-decoration: none !important;
}

a {
  color: white !important;
}

a:hover {
  transition: 1s;
  color: red !important;

}

/*********************CARTAS***********************/
.card {

  /*background-image: url(../Imagenes_OFTB/Imagen_cards/peacemakerhelmet3.jpg);*/
  background-size: 100% 100%;
  object-fit:cover;
  background-repeat: no-repeat;
  height: 240px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: 3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}



/*****************************FOOTER******************************/



/*Color del 1 footer*/
.my1footer {
  background-color: #616161 !important;
}

/*Color del 2 footer*/
.my2footer {
  background-color: #424242;
}

/*Color del 3 footer*/
.my3footer {

  background-color: #212121;
}

/*Color de los hr del footer*/
.myhrfooter {
  background-color: red;
}

/*Color de los iconos */
.icon-red {
  color: white;
}


.icon-red:hover {
  transition: 1s;
  color: red;
  transform: scale(1.15);
}

/*********************PAGINATION***********************/

a.page-link {
  background-color: #424242;
  color: white !important;
  border: none;
  border-radius: 40px;

}

.current_page {
  background-color: red !important;
  color: white !important;
}

.current_page:hover {
  background-color: white !important;
  color: red !important;
}

a.page-link:hover {
  background-color: red !important;
  color: white !important;

}



/*********************POSIBLE BOTON DEL SEARCH***********************/
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: red;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
  padding: 0 10px;
  width: 200px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
  background: white;
  color: red;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}