
/****************************************************/
/*************PLANTILLA ESTILOS BASICOS**************/
/****************************************************/

body {
    background-color: rgb(40, 40, 40);
}

p {
    color: whitesmoke;
}


/***********************************************************************/
/**********************************LOGO********************************/
/*********************************************************************/
.div_logo1 {
    display: block;
    
    /*margin: 0px auto;*/
    text-align: center;
}

/*****************************************************/
/********************PRIMER NAVBAR********************/
/****************************************************/


.navbar-toggler{
    background-color: white;
}

.mynav a{
    
    color: white !important;
    border-bottom: 2px solid transparent;
    transition-duration: 0.6s;
    font-weight: bold;
}   

.mynav a:hover {
    border-bottom: 2px solid white;
}


.active a{
    border-bottom: 2px solid white;
}
/*El div que separa el brand del menu en el primer navbar*/
/*#navbarTogglerDemo01{
    margin-right: 4.5%;
}
/*****************************************************/
/*******************SEGUNDO NAVBAR********************/
/****************************************************/

.mynav2{
    
        background-color:#000000;
   
}
.mynav2 a{

    
    font-weight: bold;
}   



/*Estilos de las listas desplegables del 2 menu*/
a.dropdown-item{
    margin-right: 0px;
    margin-left: 0px;
    color: white;
    transition-duration: 0,6s;
    background-color: #616161;
}


.navbar .dropdown-menu{
    background-color: #616161;
}

.navbar .dropdown-menu-toggle{
    margin-left: 0px;
}
/*El div que separa el brand del menu en el segundo navbar*/
#navbarSupportedContent{
   /* margin-left: 0px;*/
    font-weight: bold;
}

/****BOTON DEL SEARCH***/
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: red;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

     /*************************IMAGENES-SLIDER************************/
     /*.carousel-item {
        height: 65vh;
        min-height: 200px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      
      */

     

    /**************************JUMBOTRON*****************************/

    

    /***************************FOOTER******************************/


    /*Color del 1 footer*/
    .my1footer{
        background-color:#616161 ;
    }

    /*Color del 2 footer*/
    .my2footer{
        background-color:#424242;
    }

    /*Color del 3 footer*/
    .my3footer{
        background-color:#212121;
    }

    /*Color de los hr del footer*/
    .myhrfooter{
        background-color: red;
    }

    /*Color de los iconos */
        .icon-red{
            color: red;
    }


