/****************************************************/
/*************PLANTILLA ESTILOS BASICOS**************/
/****************************************************/


body {
    overflow-x: hidden;
    background-color: rgb(40, 40, 40) !important;
}

p {
    color: white;
}


/*****************************************************/
/********************NAVBAR**************************/
/****************************************************/

a.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}

.mynav a {

    color: white !important;
    /*Important para hacer override a bootstrap*/
    font-weight: bold;
    /*
    border-bottom: 2px solid transparent;
    transition-duration: 0.6s;
    */
}

/*******************************************************/
/********************CAROUSEL**************************/
/*****************************************************/








/*******************************************************/
/********************ENLACES***************************/
/*****************************************************/


/*Estilos de los enlaces*/
a:link,
a:visited,
a:active {
    text-decoration: none !important;
}

a {
    color: white !important;
}

a:hover {
    transition: 1s;
    color: red !important;

}

/*
.mynav a:hover {
    border-bottom: 2px solid white;
}


.active a{
    border-bottom: 2px solid white;
}

.nav-link{
    padding: 2rem 1rem;
}
*/


/*El div que separa el brand del menu en el primer navbar*/
/*#navbarTogglerDemo01{
    margin-right: 4.5%;
}
/*****************************************************/
/*******************SEGUNDO NAVBAR********************/
/****************************************************/


/*Estilos de las listas desplegables del 2 menu*/
a.dropdown-item {
    margin-right: 0px;
    margin-left: 0px;
    color: white;
    transition-duration: 0, 6s;
    background-color: #616161;
}


.navbar .dropdown-menu {
    background-color: #616161;
}

.navbar .dropdown-menu-toggle {
    margin-left: 0px;
}

/*El div que separa el brand del menu en el segundo navbar*/
#navbarSupportedContent {
    /* margin-left: 0px;*/
    font-weight: bold;
}

/****POSIBLE BOTON DEL SEARCH***/
.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: red;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}




/***************************FOOTER******************************/


/*Color del 1 footer*/
.my1footer {
    background-color: #616161 !important;
}

/*Color del 2 footer*/
.my2footer {
    background-color: #424242;
}

/*Color del 3 footer*/
.my3footer {
    background-color: #212121;
}

/*Color de los hr del footer*/
.myhrfooter {
    background-color: red;
}

/*Color de los iconos */
.icon-red {
    color: red;
}


.mydiv {
    /* this is the only relevant part: */
    border-radius: 500px;

    /* this is irrelevant, and just so the element can be visualised/displayed: */
    width: 20%;
    height: 5em;
    margin: 2em auto;
    background-color: #616161;
    opacity: 0, 5;
    font-weight: bold;
}



@media only screen and (max-width: 0px) {
    .navbar-inverse .navbar-brand {
        font-size: 30px;
        padding: 20x 15px;
    }

    .navbar-collapse {
        background: rgba(0, 0, 0, 0.5) !important;
    }
}




.carousel-item {
    height: 100vh;
    background-repeat: no-repeat;

}


.carousel-caption {
    padding-bottom: 250px;

}

.carousel-caption h1 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
}